doctype html  
html(lang='fr')  
 head
   title Liste des Salons
   style
    include main.css
 body
   h1#titre Salons
   hr
   hr
   ul#liste
    for room in rooms
        li#room: a(href="https://www.google.fr/search?&q=" + room.roomId)= room.roomName 
   hr
   hr
