doctype html
html
    head
        title {title}
        style
            include style.css
    body
        div(id='salle')
            center
                h1(class='h1') La salle {salle.name}
            div(id='chat')
                div(id='listMessages')
                    p(class='message') message
                    ul
                form(method='POST' action='/chatController' id='form')
                    input(type='text' id='input')
                    button(type='submit' id='button') Envoyer
            div(id='right')
                p {musique}
                div(id='listUsers')
                    p {user}